@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #000;

}

.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
    z-index: 100000;
}

.container .head .img{
    width: 15%;
}

.container .head a{
    color: #fff;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-right: 5px;
}

.banner{
    width: 100%;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom,#000,transparent);
}

.banner::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#000,transparent);
}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.banner .box .heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h1{
    font-size: 3.2rem;
    color: white;
    letter-spacing: 2px;
    width: 80%;
}

.banner .box .heading h4{
    font-size: 1.7rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.banner .box .heading h6{
    font-size: 1.24rem;
    color: white;
    font-weight: 500;
    padding: 15px 0px;
    padding-bottom: 20px;
}

.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .box .search input{
    font-size: 18px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner .box .search a{
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 45);
    font-size: 1.65rem;
    line-height: 60px;
    min-width: 240px;
    padding: 0 30px;
}

.part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part1 .talk {
    width: 40%;
}

.part1 .talk h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part1 .img {
    width: 45%;
}

.part1 .img img {
    width: 100%;
}

.part1 .talk p{
    font-size: 1.5rem;
    color: #fff;
}

.part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part2 .talk {
    width: 40%;
}

.part2 .talk h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part2 .img {
    width: 45%;
}

.part2 .img img {
    width: 100%;
}

.part2 .talk p{
    font-size: 1.5rem;
    color: #fff;
}

.part3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part3 .talk {
    width: 40%;
}

.part3 .talk h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part3 .img {
    width: 45%;
}

.part3 .img img {
    width: 100%;
}

.part3 .talk p{
    font-size: 1.5rem;
    color: #fff;
}

.part4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part4 .talk {
    width: 40%;
}

.part4 .talk h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part4 .img {
    width: 45%;
}

.part4 .img img {
    width: 100%;
}

.part4 .talk p{
    font-size: 1.5rem;
    color: #fff;
}

.list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1{
    color: #fff;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.title{
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}

.icon{
    width: 20px;
    position: relative;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}
.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0;
    opacity: 0;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
}
.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}
.item:target .icon::after{
    transform: rotateY(90deg); 
}

.banner2{
    border-bottom: 0.6rem solid #111;
}

.banner2 .box{
    margin: 4rem 0;

}

.banner2 .box .heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner2 .box .heading h1{
    font-size: 3.2rem;
    color: white;
    letter-spacing: 2px;
    width: 80%;
}

.banner2 .box .heading h4{
    font-size: 1.7rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.banner2 .box .heading h6{
    font-size: 1.24rem;
    color: white;
    font-weight: 500;
    padding: 15px 0px;
    padding-bottom: 20px;
}

.banner2 .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner2 .box .search input{
    font-size: 18px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner2 .box .search a{
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 45);
    font-size: 1.65rem;
    line-height: 60px;
    min-width: 240px;
    padding: 0 30px;
} 
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 4rem 0;
}

.footer .one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 25%;
}

.footer .one li{
    padding: 7px 0;
}

.footer .one li a{
    color: #ccc;
    text-decoration: none;
}

.footer .one li a:hover{
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width:787px) {
    .container .head{
        padding: 20px 50px;
    }
    .banner .box .search a{ 
        min-width: 270px;
}
    h1{
        font-size: small;
    }
}

@media screen and (max-width:496px) {
    
}
